html {
    background-color: #eee;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #eee;
    margin-top: 60px;
}
.box {
    background-color: aliceblue;
}
.card {
    background-color: #fff;
}

